# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Personal
.DS_Store
.vscode
cmake-build-debug/
ws.dSYM/
.idea/
correct_output.txt
errors.txt
student_output.txt
*_prof.cpp
